---

- block:

    - block:

        - name: copy certificate from self-signed generated
          copy:
            src: "{{ item.src }}"
            dest: "{{ item.dest }}"
            remote_src: yes
            owner: "{{ item.owner | d(opensearch_user) }}"
            group: "{{ opensearch_group }}"
            mode: "{{ item.mode | d('0400') }}"
          loop:
            - { src: "{{ opensearch_self_signed_ssl_node_cert }}", dest: "{{ opensearch_ssl_transport_cert }}" }
            - { src: "{{ opensearch_self_signed_ssl_node_key }}", dest: "{{ opensearch_ssl_transport_key }}" }
            - { src: "{{ opensearch_self_signed_ssl_ca_cert }}", dest: "{{ opensearch_ssl_transport_ca_cert }}", mode: '0444' }
            - { src: "{{ opensearch_self_signed_ssl_node_cert }}", dest: "{{ opensearch_ssl_http_cert }}" }
            - { src: "{{ opensearch_self_signed_ssl_node_key }}", dest: "{{ opensearch_ssl_http_key }}" }
            - { src: "{{ opensearch_self_signed_ssl_ca_cert }}", dest: "{{ opensearch_ssl_http_ca_cert }}", mode: '0444' }
            - { src: "{{ opensearch_self_signed_ssl_admin_cert }}", dest: "{{ opensearch_ssl_admin_cert }}", owner: "{{ opensearch_admin_user }}" }
            - { src: "{{ opensearch_self_signed_ssl_admin_key }}", dest: "{{ opensearch_ssl_admin_key }}", owner: "{{ opensearch_admin_user }}" }
          register: t_opensearch_ssl_self_signed_update

      when: opensearch_use_self_signed_ssl


    - block:

        - block:

            - name: deploy opensearch transport certificate
              ansible.builtin.copy:
                dest: "{{ item.dest }}"
                content: "{{ item.content }}"
                owner: "{{ opensearch_user }}"
                group: "{{ opensearch_group }}"
                mode: "0400"
              loop:
                - dest: "{{ opensearch_ssl_transport_cert }}"
                  content: "{{ opensearch_certificate_transport['certificate'] }}"
                - dest: "{{ opensearch_ssl_transport_key }}"
                  content: "{{ opensearch_certificate_transport['key'] }}"
                - dest: "{{ opensearch_ssl_transport_ca_cert }}"
                  content: "{{ opensearch_certificate_transport_ca['certificate'] }}"
              register: t_opensearch_ssl_transport_update

          when:
            - opensearch_certificate_transport is defined
            - opensearch_certificate_transport is not none
            - opensearch_certificate_transport_ca is defined
            - opensearch_certificate_transport_ca is not none


        - block:

            - name: deploy opensearch http certificate
              ansible.builtin.copy:
                dest: "{{ item.dest }}"
                content: "{{ item.content }}"
                owner: "{{ opensearch_user }}"
                group: "{{ opensearch_group }}"
                mode: "0400"
              loop:
                - dest: "{{ opensearch_ssl_http_cert }}"
                  content: "{{ opensearch_certificate_http['certificate'] }}"
                - dest: "{{ opensearch_ssl_http_key }}"
                  content: "{{ opensearch_certificate_http['key'] }}"
                - dest: "{{ opensearch_ssl_http_ca_cert }}"
                  content: "{{ opensearch_certificate_http_ca['certificate'] }}"
              register: t_opensearch_ssl_http_update

          when:
            - opensearch_certificate_http is defined
            - opensearch_certificate_http is not none
            - opensearch_certificate_http_ca is defined
            - opensearch_certificate_http_ca is not none


        - block:

            - name: deploy opensearch admin certificate
              ansible.builtin.copy:
                dest: "{{ item.dest }}"
                content: "{{ item.content }}"
                owner: "{{ opensearch_user }}"
                group: "{{ opensearch_group }}"
                mode: "0400"
              loop:
                - dest: "{{ opensearch_ssl_admin_cert }}"
                  content: "{{ opensearch_certificate_admin['certificate'] }}"
                - dest: "{{ opensearch_ssl_admin_key }}"
                  content: "{{ opensearch_certificate_admin['key'] }}"
              register: t_opensearch_ssl_admin_update

          when:
            - opensearch_certificate_admin is defined
            - opensearch_certificate_admin is not none
            # - opensearch_certificate_admin_ca is defined
            # - opensearch_certificate_admin_ca is not none


      when: not opensearch_use_self_signed_ssl


    - name: extract node dn
      shell:
        cmd: "openssl x509 -in {{ opensearch_ssl_transport_cert }} -noout -subject -nameopt RFC2253 | sed 's/^subject=//'"
      changed_when: no
      register: t_opensearch_ssl_node_dn

    - name: set node dn
      set_fact:
        opensearch_ssl_node_dn: "{{ t_opensearch_ssl_node_dn.stdout | trim }}"

    - name: extract admin dn
      shell:
        cmd: "openssl x509 -in {{ opensearch_ssl_admin_cert }} -noout -subject -nameopt RFC2253 | sed 's/^subject=//'"
      changed_when: no
      register: t_opensearch_ssl_admin_dn

    - name: set admin dn
      set_fact:
        opensearch_ssl_admin_dn: "{{ t_opensearch_ssl_admin_dn.stdout | trim }}"

  when: opensearch_ssl


- name: set ssl changed
  set_fact:
    t_opensearch_ssl_changed: "{{ t_opensearch_ssl_self_signed_update.changed or t_opensearch_ssl_transport_update.changed or t_opensearch_ssl_http_update.changed or t_opensearch_ssl_admin_update.changed }}"
