---

- name: stat password file
  stat:
    path: "{{ opensearch_credentials_dir }}/{{ internal_user }}.password"
  register: t_opensearch_internal_user_password_file

# no password file
- block:

    # no password
    - block:

        - name: create password
          command: apg -m 64 -n 1 -M LNSC
          register: t_opensearch_internal_user_password_cmd

        - name: assign password
          set_fact:
            t_opensearch_internal_user_password: "{{ t_opensearch_internal_user_password_cmd.stdout | trim }}"

      when: (("opensearch_internal_user_" + internal_user + "_password") not in vars) and (("opensearch_internal_user_" + internal_user + "_password") not in hostvars)

    # with password
    - name: assign password
      set_fact:
        t_opensearch_internal_user_password: "{{ lookup('vars', 'opensearch_internal_user_' + internal_user + '_password') }}"
      when: (("opensearch_internal_user_" + internal_user + "_password") in vars) or (("opensearch_internal_user_" + internal_user + "_password") in hostvars)

    # save password
    - name: save password
      copy:
        content: "{{ t_opensearch_internal_user_password }}"
        dest: "{{ opensearch_credentials_dir }}/{{ internal_user }}.password"
        mode: "0600"
        owner: "{{ opensearch_admin_user }}"
        group: "{{ opensearch_group }}"

  when: not t_opensearch_internal_user_password_file.stat.exists

# reload password
- name: reload password file
  command: "cat '{{ opensearch_credentials_dir }}/{{ internal_user }}.password'"
  changed_when: no
  register: t_opensearch_internal_user_password_file_content

# set password
- name: set password
  set_fact:
    "{{ 'opensearch_internal_user_' ~ internal_user ~ '_password' }}": "{{ t_opensearch_internal_user_password_file_content.stdout | trim }}"



- name: stat password hash file
  stat:
    path: "{{ opensearch_credentials_dir }}/{{ internal_user }}.password_hash"
  register: t_opensearch_internal_user_password_hash_file

# no password hash file
- block:

    # no password hash
    - block:

        - debug:
            msg: "generate password hash {{ internal_user }}"

        # gen password hash
        - name: generate password hash
          command: "{{ opensearch_dist_active_hash}} -p '{{ t_opensearch_internal_user_password_file_content.stdout | trim }}'"
          environment:
            OPENSEARCH_JAVA_HOME: "{{ opensearch_dist_active_jdk }}"
          register: t_opensearch_internal_user_password_hash_cmd

        # assign password hash
        - name: assign password hash
          set_fact:
            t_opensearch_internal_user_password_hash: "{{ t_opensearch_internal_user_password_hash_cmd.stdout | trim }}"

      when: (("opensearch_internal_user_" + internal_user + "_password_hash") not in vars) and (("opensearch_internal_user_" + internal_user + "_password_hash") not in hostvars)

    # with password hash
    - name: assign password hash
      set_fact:
        t_opensearch_internal_user_password_hash: "{{ lookup('vars', 'opensearch_internal_user_' + internal_user + '_password_hash') }}"
      when: (("opensearch_internal_user_" + internal_user + "_password_hash") in vars) or (("opensearch_internal_user_" + internal_user + "_password_hash") in hostvars)


    # save password hash
    - name: save password hash
      copy:
        content: "{{ t_opensearch_internal_user_password_hash }}"
        dest: "{{ opensearch_credentials_dir }}/{{ internal_user }}.password_hash"
        mode: "0600"
        owner: "{{ opensearch_admin_user }}"
        group: "{{ opensearch_group }}"

  when: not t_opensearch_internal_user_password_hash_file.stat.exists

# reload password hash file
- name: reload password hash file
  command: "cat '{{ opensearch_credentials_dir }}/{{ internal_user }}.password_hash'"
  changed_when: no
  register: t_opensearch_internal_user_password_hash_file_content

# set password hash
- name: set password_hash
  set_fact:
    "{{ 'opensearch_internal_user_' ~ internal_user ~ '_password_hash' }}": "{{ t_opensearch_internal_user_password_hash_file_content.stdout | trim }}"
